SOCKSPort 0.0.0.0:9050
# comment for local use with e.g. curl
SOCKSPolicy "reject *"

HiddenServiceDir /var/lib/tor/__servicename__
HiddenServicePort __serviceport__ 127.0.0.1:__serviceport__
# HiddenServicePort 8081 127.0.0.1:8081

DataDirectory /var/lib/tor
Log notice file /var/log/tor/notices.log
