name: DockerHub Publish

on:
  push:
    branches: [ master ]

env:
  IMAGE_NAME: melotools/tor


jobs:
  build:

    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log into Dockerhub
        uses: docker/login-action@28218f9b04b4f3f62068d7b6ce6ca5b26e35336c
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Pull final image if it exists
        run: docker pull $IMAGE_NAME || true

      - name: Build updated final image if necessary
        run: docker build --pull
          --cache-from $IMAGE_NAME
          -f ./Dockerfile
          -t $IMAGE_NAME:latest .

      - name: Push the image tagged as latest as well
        run: docker push $IMAGE_NAME:latest
